.hide { display: none; }

.blueBk {
    
    background:url(dark_embroidery.png)repeat;
    color:white;
}
.whiteBk {
    background-color: #F7FBF6;
}
div#courseInfo a.current { 
    color: #000000;
    font-weight: bold; 
    
}
@media screen and (max-width: 800px) {
    #welcomePage {
        padding-left: 10px;
        padding-right: 10px;
    }
}
#welcomePage {
    padding-left: 400px;
    padding-right: 400px;
}
#galleryPage {
    padding-left: 400px;
    padding-right: 400px;
}
#aboutPage {
    padding-left: 400px;
    padding-right: 400px;
}
#contactPage {
    padding-left: 400px;
    padding-right: 400px;
}
#sponsorsPage {
    padding-left: 400px;
    padding-right: 400px;
}
#findPage {
    padding-left: 400px;
    padding-right: 400px;
}


div#courseInfo{ 
     background-color: darkgray;
    
}
div#aboutCourses{ 
     background-color: #F7FBF6;
    
}

div#courseInfo div.current{
    background-color: #F7FBF6;
}
div#courses{
    background-color: #F7FBF6;
    color:black;
}

ul#filterButtons {
  float: left; 
  width: 100%;

  list-style: none; 
  
}

ul#filterButtons li {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #000000;
  
  
}


ul#filterButtons li.current a { 
    color: #000000;
    font-weight: bold; 
}

ul#filterButtons li a { 
    color: darkgray;

}

ul#thumbnails { 
  float: left; 
  list-style: none; 
  margin-left: 0; 
}
ul#thumbnails li { 
  border: 1px solid darkgrey; 
  float: left; 
  padding: 5px;
  margin: 0 5px 5px 0; 
  
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.navbar-nav li a:hover {
    color: darkgray !important;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
div#welcomePage {
    padding-top: 75px;
}
div#galleryPage {
    padding-top: 75px;
}