body{
    font-family: 'Open Sans', sans-serif;
}
body#indexPage{
    background-color: #6bb5e0;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
}
#frontImage {
    width: 100%;
    height: auto;
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#indexLinks{
    padding-top: 50px;
}
#welcomeText{
    padding-top: 10px;
}
.blueBk {
    
    background:url(dark_embroidery.png)repeat;
    color:white;
}
#indexImage{
    background: url(../images/front.png);

}
.whiteBk {
    background-color: #F7FBF6;
}
.jumbotron{
    background:rgba(255,255,255, 0.5);
}

div#courseInfo a.current { 
    color: #000000;
    font-weight: bold; 
    text-decoration: none;
    
}
#courseInfo a:hover{
    text-decoration: none;
}
#courseInfo {
    text-align: center;
}
@media (max-width: 1023px) {
    #welcomePage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #welcomePage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #welcomePage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #welcomePage {
        padding-left: 400px;
        padding-right: 400px;
    }
}

@media (max-width: 1023px) {
    #galleryPage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #galleryPage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #galleryPage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #galleryPage {
        padding-left: 400px;
        padding-right: 400px;
    }
}
@media (max-width: 1023px) {
    #aboutPage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #aboutPage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #aboutPage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #aboutPage {
        padding-left: 400px;
        padding-right: 400px;
    }
}
@media (max-width: 1023px) {
    #contactPage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #contactPage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #contactPage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #contactPage {
        padding-left: 400px;
        padding-right: 400px;
    }
}
@media (max-width: 1023px) {
    #sponsorsPage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #sponsorsPage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #sponsorsPage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #sponsorsPage {
        padding-left: 400px;
        padding-right: 400px;
    }
}
@media (max-width: 1023px) {
    #findPage {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: 1024px) {
    #findPage {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media (min-width: 1400px) {
    #findPage {
        padding-left: 250px;
        padding-right: 250px;
    }
}
@media (min-width: 1800px) {
    #findPage {
        padding-left: 400px;
        padding-right: 400px;
    }
}



div#courseInfo{ 
     background-color: darkgray;
    
}
div#aboutCourses{ 
     background-color: #F7FBF6;
    
}

div#courseInfo div.current{
    background-color: #F7FBF6;
}
div#courses{
    background-color: #F7FBF6;
    color:black;
}

ul#filterButtons {
  float: left; 
  width: 100%;

  list-style: none; 
  
}

ul#filterButtons li {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #000000;
  
  
}


ul#filterButtons li.current a { 
    color: #000000;
    font-weight: bold; 
}

ul#filterButtons li a { 
    color: darkgray;

}

ul#thumbnails { 
  float: left; 
  list-style: none; 
  margin-left: 0; 
}
ul#thumbnails li { 
  border: 1px solid darkgrey; 
  float: left; 
  padding: 5px;
  margin: 0 5px 5px 0; 
  
}

#navButtons li a{
    color: #6bb5e0;
}
#navHeader{
    color: #6bb5e0;
}
#navHeader:hover {
    color: darkgray !important;
}
.navbar-nav li a:hover {
    color: darkgray !important;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
div#welcomePage {
    padding-top: 75px;
}
div#galleryPage {
    padding-top: 75px;
}